
  table{
    border-collapse: collapse;
    td{
      height: 30px;
    }
    }

  .wrap {
    display: flex;
    align-items: stretch;
    font-weight: normal;

    .fixed {
      width: 20%;
      height: 0;
    }

    .scrollContainer{
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      width: 80%;
      td{
        min-width: 100px !important;
      }

      &::-webkit-scrollbar {
        width: 0;
        height: 4px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #18aaaa;
        padding: 10px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f9f9fd;
      }
      &::-webkit-scrollbar-track {
        border-radius: 40px;
      }
    }
  }

